
@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row u-mb-large">
    <div class="col-sm-12">
        <div id="msgCargando" class="col-md-12 c-table justify-content-center" style="text-align:center;">
            <img src="~/Content/img/preloader.gif" />
            <h3>Cargando...</h3>
        </div>

        <div id="divEmpresas" class="c-table-responsive@desktop">

        </div>
    </div>
</div>

<div class="c-modal c-modal--large modal fade ocultarDespues" id="modal8" tabindex="-1" role="dialog" aria-labelledby="modal8" data-backdrop="static">
    <div class="c-modal__dialog modal-dialog" role="document">
        <div class="c-modal__content">

            <div class="c-modal__header u-bg-primary">
                <h3 class="c-modal__title">Cliente</h3>
                <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-close"></i>
                </span>
            </div>
            <div class="c-modal__body">
                <form class="c-card__body formAjaxAdd" method="post" action="~/Clientes/Add">
                    <div class="row">
                        <div class="c-field u-mb-xsmall">
                            <label class="c-field__label" for="input-project">Nombre del cliente</label>
                            <input type="text" class="c-input" name="NombreEmpresa" id="txtNombreEmpresa" required="required">
                        </div>
                        <div class="col-md-6 sin-padding c-field u-mb-xsmall">
                            <label class="c-field__label" for="input-project">Correo electrónico</label>
                            <input type="email" class="c-input" name="CorreoElectronico" id="txtCorreoElectronico" placeholder="correo@correo.com" required="required">
                        </div>
                        <div class="col-md-6 sin-padding c-field u-mb-xsmall">
                            <label class="c-field__label" for="input-project">Telefóno</label>
                            <input type="text" class="c-input" name="Telefono" id="txtTelefono" placeholder="00-0000-0000" required="required">
                        </div>
                        <div class="col-md-12 sin-padding c-field u-mb-xsmall">
                            <label class="c-field__label" for="input-project">Moneda</label>
                            <select class="c-input" name="Moneda" id="drpMoneda">
                                <option value="">Seleccione la moneda del cliente</option>
                                @foreach (var item in ViewBag.Moneda)
                                {
                                    <option value="@item.Id">@item.Valor</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-12 sin-padding c-field u-mb-xsmall">
                            <label class="c-field__label" for="input-project">Zona horaria</label>
                            <select class="c-input" name="ZonaHoraria_Id" id="drpZonaHoraria_Id">
                                <option value="">Seleccione la zona horaria</option>
                                @foreach (var item in ViewBag.ZonasHorarias)
                                {
                                    <option value="@item.Id">@item.Valor</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-12 sin-padding c-field u-mb-xsmall">
                            <label class="c-field__label" for="input-project">Logo</label>
                            <input type="file" class="c-input esunarchivo" name="fileLogo" id="fileLogo" required="required">
                            <img style="width:60px;" />
                            <input type="hidden" name="Logo" id="hidLogo" />
                        </div>
                        <div class="col-md-12 sin-padding c-field u-mb-xsmall">
                            <label class="c-field__label" for="input-project">Dirección</label>
                            <input type="text" class="c-input" name="Direccion" id="txtDireccion" placeholder="Calle x" required="required">

                        </div>

                        <input type="hidden" name="Id" id="Id" />
                    </div>
                    <div class="c-modal__footer u-justify-center">
                        <button class="c-btn c-btn--success btnAjaxAdd" type="submit">
                            Guardar Cliente
                            <img src="~/Content/img/load.gif" class="loadingAjaxAdd" style="display:none" />
                        </button>
                    </div>
                </form>
            </div>

        </div><!-- // .c-modal__content -->
    </div><!-- // .c-modal__dialog -->
</div><!-- // .c-modal -->

@section scripts
{

    <script>
        $('.esunarchivo').change(function (e) {
            var fileName = e.target.files[0].name;
            $(this).next().html(fileName);
            var objFile = $(this)
            var reg = /(.jpg|.gif|.png)$/;
            if (!reg.test($(this).val().toLowerCase())) {
                swal({
                    "title": "",
                    "text": "Archivo no valido.",
                    "type": "error",
                    "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                });
                return false;
            }
            var files = e.target.files;
            if (files.length > 0) {
                for (var x = 0; x < files.length; x++) {
                    uploadFile(files[x], objFile);
                }
            }
        });


        function uploadFile(file, objFile) {
            var form = new FormData();
            form.append('file', file);
            $.ajax({
                url: "@Url.Content("~/Clientes/FileUpload")",
                type: "POST",
                cache: false,
                contentType: false,
                processData: false,
                data: form,
                success: function (response) {
                    $(objFile).parent('div').find('img').attr("src", urlGeneral + "Uploads/" + response.response);
                    $(objFile).parent('div').find('img').show();
                    $(objFile).parent('div').find('img').next('input').val(response.response);
                },
                error: function (xhr, status, p3, p4) {
                    var err = "Error " + " " + status + " " + p3 + " " + p4;
                    console.log(err);
                    swal({
                        "title": "",
                        "text": err,
                        "type": "error",
                        "confirmButtonClass": "btn btn-secondary m-btn m-btn--wide"
                    });
                }
            });
        }



        var strFiltro = "";
        var strValOrder = "";
        $(document).ready(function () {
            cargaTabla("Id", "");
        });
        function cargaTabla(val, valOrder) {
            if (val.length > 0) {
                strFiltro = val;
                val = "/?val=" + val;
            }
            if (valOrder.length > 0) {
                strValOrder = valOrder;
                valOrder = "valSearch=" + valOrder;
                if (val.length < 1)
                    valOrder = "/?" + valOrder;
                else
                    valOrder = "&" + valOrder;
            }




            $.ajaxSetup({ cache: false })
            $('#divEmpresas').load(urlGeneral + 'Clientes/ListaClientes' + val + valOrder, function (response, status, xhr) {
                $("#msgCargando").hide()
            });
        }
    </script>

    <script src="~/Content/js/custom.js"></script>
}

